.about-us {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100vh;
  }
  
  /* Title for About Us */
  .about-us h2 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Description Text */
  .about-us p {
    font-size: 26px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  

/* Image Slider */
.image-slider {
    position: relative;
    width: 100%;
    max-width: 600px; /* Limit the width */
    margin: 0 auto;
    overflow: hidden; /* Hide images that are out of the container */
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 120%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    transform: translateY(-50%);
  }
  
  .prev {
    top:700px;
    left: 810px;
  }
  
  .next {
    top:700px;
    right: 530px;
  }
  
  /* Showing the active slide */
  .active {
    display: block;
  }
  