<div class="global-container">
    <section class="about-us">
        <h2>About Us</h2>
        <p>Welcome to NEIGHBORHOOD, the modern solution for seamless society management. We understand the challenges of managing a residential community, and that's why we’ve created a platform that brings residents, guards, and administrators together in one cohesive system.

            Our mission is simple: to make society management effortless, transparent, and efficient. Whether it's managing visitor entries, staying updated on important notices, or resolving service requests, our application is designed to simplify every aspect of community living..</p>
        
    </section>
</div>
