<div class="dashboard-container">
    <div class="card-container">
<!-- ABout US  -->
        <div class="book">
            <div class="cover">
                <h1>About Us</h1>
            </div>

            <div class="card-content">
                <h3>About US</h3>
                <p>  Welcome to NeighbourHood, the all-in-one solution 
                    designed to enhance the experience of living in a modern society. 
                    Our platform is committed to simplifying day-to-day operations for residents,
                guards, and administrators and connected community.</p>
            </div>
          
        </div>

<!-- Notices -->
        <div class="book">
            <div class="cover">
                <h1>Notices</h1>
            </div>
               <div class="card-content">
                <h2>Dn't miss Important Announcement</h2>
                <p>We are a community-focused organization...</p>

                <a routerLink="['home/notice]" class="btn-link">Go to Notices</a> 
            </div>
        </div>
        
        <div class="book">
            <div class="cover">
                <h1>Services</h1>
            </div>
        </div>
    </div>
</div>
