<!-- 
<div class="dashboard-container">
    <div routerLink="/home/notice" routerLinkActive="router-link-active"  class="dashboard-block" id="notice-block">
      <h2>Notice Board</h2>
      <p>View and manage notices.</p>
    </div>
    <div class="dashboard-block" id="alert-block">
      <h2>Alerts</h2>
      <p>View and manage alerts.</p>
    </div>
  </div>
   -->


<div class="dashboard-container">
  <div routerLink="/home/notice" routerLinkActive="router-link-active" class="dashboard-block" id="notice-block">
      <h2>Notice Board</h2>
      <p>View and manage notices.</p>
  </div>
  <div class="dashboard-block" id="alert-block">
      <h2>Alerts</h2>
      <p>View and manage alerts.</p>
  </div>
</div>
