
<!-- <div class="hamburger" (click)="toggleNavbar()"> <!-- Use Angular event binding -->
    <!-- &#9776; -->
<!-- </div> --> 

<nav id="navbar" class="vertical-navbar">
    <ul class="vertical-navbar ul">
        <li *ngFor="let item of sidebarItems" [ngStyle]="{ 'background-color': item.backgroundColor }">
            <a [routerLink]="item.link" routerLinkActive="router-link-active">{{ item.label }}</a>
        </li>
    </ul>
</nav>
    <!-- <nav  id="navbar"class="vertical-navbar">
        <ul>
            <li><a routerLink="/home" routerLinkActive="router-link-active">Dashboard</a></li>
            <li><a routerLink="/user" routerLinkActive="router-link-active">Profile Management</a></li>
            <li><a routerLink="/complaint" routerLinkActive="router-link-active">Complaint</a></li>
            <li><a routerLink="/services" routerLinkActive="router-link-active">Services</a></li>
            <li><a routerLink="/home/visitor" routerLinkActive="router-link-active">Visitor</a></li>
        </ul>
    </nav> -->

    