/* Navbar Styles */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    margin: 0;
    padding: 0;
}

.vertical-navbar {
    width: 300px;
    background-color: #A9C46C; /* Slightly darker gray */
    position: fixed;
    height: 100%;
    overflow: auto;
    padding-top: 60px; /* Push navbar down to avoid overlap with header */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    margin-top: 60px; 
    display: block; /* Always show the navbar */
    z-index:1;
}

.vertical-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vertical-navbar li {
    text-align: left;
    padding: 20px 20px;
    display: block;
    font-size: 22px; /* Increased font size */
    font-weight: bold;
}

/* Alternate background colors for list items */
.vertical-navbar li:nth-child(odd) {
    background-color: rgba(221, 238, 187, 0.666667); /* Dashboard style */
}

.vertical-navbar li:nth-child(even) {
    background-color: #DDEEBB; /* Profile style */
}

.vertical-navbar li a {
    color: #1a0101; /* Dark text */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
}

.vertical-navbar li a:hover {
    color: #3815e8;
    text-decoration: underline;
}

.router-link-active {
    background-color: #00c896; /* More vibrant active color */
    color: white;
}

.hamburger {
    display: none; /* Hide the hamburger as it's no longer needed */
}

/* Optional: Add a margin to the main content to prevent overlap with navbar */
