

    /* User Table */
  .user-table-container {
    margin-top: 20px;
    width: 90%;
  }

  .user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .user-table th,
  .user-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }

  .user-table th {
    background-color: #f1f1f1;
    color: #333;
  }

  .user-table tr.selected {
    background-color: #d3f4ff;
  }

  .user-table tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;

  }

  /* Button styles inside user table */
.user-table .btn {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.user-table .btn:hover {
  background-color: #45a049; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.user-table .btn.delete {
  background-color: #f44336;
}

.user-table .btn.delete:hover {
  background-color: #d32f2f; /* Darker red on hover */
}
  /* Update form */

  .update-user-form {
    margin-top: 40px;
    background-color: #DAD2FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
  }

  .update-user-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .update-user-form input,
  .update-user-form textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .update-user-form button {
    padding: 10px 20px;
    background-color: #1c3b4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .update-user-form button:hover {
    background-color: #00c896;
  }
/* Profile Table */
.profile-table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.profile-table th,
.profile-table td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.profile-table th {
  background-color: #f1f1f1;
  color: #333;
  font-weight: bold;
}

.profile-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.profile-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Additional styles for the profile container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #DAD2FF;
  border-radius: 10px;
  max-width: 100%;
  margin-top: 40px;
}
