<div class="user-container">

    <<ng-container *ngIf="role?.toString()==='resident' || role?.toString()==='guard'" class="resident-options" >
      <div class="resident-options btn" (click)="onClickViewProfile()">View Profile</div>
      <div class="resident-options btn" (click)="deleteUser(currentUser!.idUser)">Delete Profile</div>
      <div class=" resident-options btn" (click)="deleteUser(currentUser!.idUser)">Update Profile</div>
      <button class="btn" (click)="onClickViewQr()">View Your MFA Qr code</button>
    </ng-container>
  
    <div *ngIf="role?.toString()==='admin'" class="admin-options">
      <button class="btn" (click)="deleteUser(currentUser!.idUser)">Update Profile</button>
      <button class="btn" (click)="onclickViewUSer()">View All Users</button>
      <button class="btn" (click)="onClickViewQr()">View Your MFA Qr code</button>
    </div>
  
    <div *ngIf="codeVisiblity" class="qr-code-section">
      <h3>MFA QrCode:</h3>
      <img *ngIf="qrCodeImage" [src]="qrCodeImage" alt="QR Code" />
      <p *ngIf="!qrCodeImage">QR code not available</p>
    </div>


    <div *ngIf="viewProfile">
      <h2>User Details</h2>
      <table class="vertical-table">
        <tr>
          <th>Name:</th>
          <td>{{ currentUser?.userName }}</td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>{{ currentUser?.email }}</td>
        </tr>
        <tr>
          <th>Phone:</th>
          <td>{{ currentUser?.phoneNo }}</td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>{{ currentUser?.address }}</td>
        </tr>
      </table>
    </div>
  
    <div *ngIf="viewUserOption">   
      <h2>All Users</h2>
      <table class="user-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Address</th>
            <th> Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
  
            <td>{{ user.userName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.userRole }}</td>
            <td>{{ user.phoneNo }}</td>
            <td> {{ user.address}}</td>
            <td>
              <!-- <button class="btn" (click)="updateUser(user)">Update</button> -->
              <button class="btn delete" (click)="deleteUser(user.idUser)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  
    
  </div>