/* Notice Container */

/* Visibility for Roles */
.notice-options.resident-role .option-box:not(.view-notice),
.notice-options.guard-role .option-box:not(.view-notice) {
  display: none; /* Hide other options for residents/guards */
}

/* Admin Actions */
.admin-actions {
  margin-top: 20px;
  margin-left: 400px;
  height: 50px;
  padding: 15px;
  background-color: #e6f7ff;
  border-radius: 10px;
}

.admin-actions .action-item {
  background-color: #cce7ff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.admin-actions .action-item:hover {
  background-color: #99c2ff;
}
 